server:
  port: 8078

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    name: jConferenceDB
    username: spring_conference_user
    password: root
    url: jdbc:postgresql://localhost:5432/jconferences
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database: postgresql
#  jackson:
#    serialization:
#      fail-on-empty-beans: false

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: '*'

info:
  app:
    name: jConference Spring Boot application
    description: This application is designed to help manage events.
    version: 1.0.0
  system:
    os: ${os.name}
    PID: ${PID}
    user-country: ${user.country}
    user-timzone: ${user.timezone}
